.title {
    text-align: center;
}

.secondtitle {
    text-align: center;
}

.form-group {
    text-align: center;
}

.or {
    text-align: center;
}

.container {
    text-align: center;
}

.user {
    text-align: center;
}

body .first {
    margin: auto;
    width: 60%;
    padding: 10px;
}

body .second {
    margin: auto;
    width: 60%;
    padding: 10px;
}

body .third {
    margin: auto;
    width: 60%;
    padding: 10px;
}

/* E-COMMRECE PAGE */

.ecommerce {
    text-align: center;
}