<h1 class="ecommerce">E-Commerce App</h1>

<section class="first">

    <section class="second">
        <h2>My First Chat App</h2>
        <form onsubmit="addMessage(this)">
            <input type="email" id="username" id="date" placeholder="e-mail">
            <input type="text" id="texto" placeholder="Enter your messagee">
            <input type="submit" value="Send">
        </form>
    </section>

    <div class="third" id="messages"></div>