<h1 class="title">Welcome</h1>
<h2 class="secondtitle">Doesn't have an account yet?</h2>

<form action="/login">
    <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Login">
    </div>
</form>

<p class="or">OR</p>

<form action="/signup">
    <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Sign Up">
    </div>
</form>


    